.round-mvp {
  padding: 8px;
  background-color: rgba(9, 10, 18, 0.4);
  backdrop-filter: blur(30px);
  border-radius: 12px;
  display: flex;
  gap: 16px;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 8;

  .mvp-avatar {
    width: 140px;
    height: 140px;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .mvp-info {
    flex: 1;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .mvp-header {
      display: flex;
      align-items: center;
      font-size: 50px;
      gap: 12px;

      .mvp-title {
        color: white;
        text-transform: uppercase;
      }

      .mvp-separator {
        color: rgba(255, 255, 255, 0.1)
      }

      .mvp-name {
        color: white;
        text-transform: uppercase;

        &.CT {
          color: var(--color-new-ct);
        }

        &.T {
          color: var(--color-new-t);
        }
      }
    }

    .mvp-stats {
      display: flex;
      gap: 24px;

      .mvp-stat {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;

        .stat-label {
          color: rgba(255, 255, 255, 0.4);
          text-transform: uppercase;
        }

        .stat-value {
          color: white;
        }
      }
    }
  }
}
