.round-summary {
  padding: 8px;
  background-color: rgba(9, 10, 18, 0.4);
  backdrop-filter: blur(30px);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  z-index: 8;
  opacity: 1;
  transition: opacity 0.3s ease;

  .summary-header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 12px;
    padding: 8px;
    background-color: rgba(9, 10, 18, 0.4);
    backdrop-filter: blur(40px);
    border-radius: 8px;
    margin-bottom: 8px;
    font-size: 20px;

    .summary-title {
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
    }

    .summary-separator {
      color: rgba(255, 255, 255, 0.2);
    }

    .summary-half {
      color: #00EAFA;
      text-transform: uppercase;
    }
  }

  .summary-body {

    .rounds-grid {
      display: flex;
      gap: 8px;

      .round-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        .round-square {
          width: 53px;
          height: 53px;
          border-radius: 8px;
          background-color: rgba(9, 10, 18, 0.4);
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          &.current {
            outline: 2px solid rgba(255, 255, 255, 0.8);
          }

          .round-icon {
            width: 24px;
            height: 24px;

            &.CT {
              fill: var(--color-new-ct);
            }

            &.T {
              fill: var(--color-new-t);
            }
          }

          .round-dash {
            font-size: 20px;
            color: rgba(255, 255, 255, 0.2);
          }
        }

        .round-number {
          font-size: 20px;
          color: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }
}
