.observed {
    position: fixed;
    width: 404px;
    bottom: 32px;
    border-radius: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(9, 10, 18, 0.4);
    backdrop-filter: blur(30px);
    gap: 8px;

    // Аватарка игрока
    .avatar {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 140px;
        height: 140px;
        
        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // Индикатор здоровья
    .health-bar {
        width: 100%;
        height: 26px;
        border-radius: 8px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        
        .health-fill {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            border-radius: 8px;
            transition: width 0.3s ease;
            pointer-events: none;
        }
        
        .health-info {
            display: flex;
            align-items: center;
            gap: 6px;
            padding-left: 6px;
            z-index: 1;
            
            svg {
                width: 16px;
                height: 16px;
                fill: white;
            }
            
            .health-value {
                font-size: 18px;
                color: white;
            }
        }
        
        .armor-info {
            display: flex;
            align-items: center;
            gap: 6px;
            padding-right: 6px;
            z-index: 1;
            
            svg {
                width: 16px;
                height: 16px;
                fill: white;
            }
            
            .armor-value {
                font-size: 18px;
                color: white;
            }
        }
    }

    // Никнейм и патроны
    .info-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 8px;
        font-size: 50px;
        
        .username {
            color: white;
            text-transform: uppercase;
            line-height: 1;
        }
        
        .weapon-ammo {
            display: flex;
            gap: 8px;
            
            .weapon {
                height: 18px;
                margin-top: 8px;
                width: auto;
            }
            
            .ammo-info {
                display: flex;
                align-items: baseline;
                text-transform: uppercase;
                line-height: 1;
                justify-content: flex-end;
                
                .ammo-clip {
                    color: rgba(255, 255, 255, 0.4);
                }
                
                .ammo-separator {
                    color: rgba(255, 255, 255, 0.04);
                    margin: 0 2px;
                }
                
                .ammo-reserve {
                    color: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }

    // Футер со статистикой и гранатами
    .footer-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .stats-badges,
        .grenades-badges {
            display: flex;
            gap: 4px;
        }
        
        .badge {
            background: rgba(9, 10, 18, 0.4);
            backdrop-filter: blur(30px);
            padding: 8px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            font-size: 20px;
            height: 16px;
            min-width: 16px;
            
            .stat-label {
                color: rgba(255, 255, 255, 0.3);
            }
            
            .stat-value {
                color: white;
            }
            
            .stat-assists {
                color: rgba(0, 234, 250, 1);
            }
            
            &.grenade-badge {
                .weapon.grenade {
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }
    
    // Стили для команды T
    &.T {
        .health-bar {
            background-color: rgba(255, 85, 0, 0.3);
            
            .health-fill {
                background-color: var(--color-new-t);
            }
        }
    }
    
    // Стили для команды CT
    &.CT {
        .health-bar {
            background-color: rgba(130, 88, 255, 0.3);
            
            .health-fill {
                background-color: var(--color-new-ct);
            }
        }
    }
}

#cameraFeed {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    transform: scale(0.94);
    left: 0px;
    bottom: 0;
    transform-origin: bottom left;
    iframe {
        position: relative;
        border: none;
        width: 750px;
        height: 300px;
    }
}