@import "./fonts/headingnow.css";
html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "HeadingNow" , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/bg.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  width: 100%;
  height: 100%;
  perspective: 500px;
}

:root {
  --main-panel-color: rgba(12, 15, 18, 0.85);
  --sub-panel-color: rgba(9, 10, 18, 0.4);
  --white-dull: rgba(10, 5, 5, 0.25);
  --white-full: rgba(250, 250, 250, 1);
  --white-half: rgba(250, 250, 250, 0.5);
  --color-gray: rgba(191, 191, 191, 1.0);
  --color-moneys: #a7d32e;
  --dev-purple: rgba(200, 0, 255, 1);
  --color-t: #c19511;
  --color-ct: #5788a8;
  --color-new-t: #FF5500;
  --color-new-ct: #8258FF;
  --color-bomb: #f22222;
  --color-defuse: #2222f2;
}



