.team-stats {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 4px;
  background: rgba(9, 10, 18, 0.4);
  backdrop-filter: blur(30px);
  border-radius: 12px;
  z-index: 100;
  height: 72px;

  &__block {
    display: flex;
    padding: 0 12px;
    width: 80px;
    flex-direction: column;
    justify-content: center;
    background: rgba(9, 10, 18, 0.4);
    backdrop-filter: blur(40px);
    border-radius: 8px;

    &--total {
      background: rgba(0, 234, 250, 0.12);

      .team-stats__label {
        color: white;
        opacity: 1;
      }
    }
  }

  &__stat {
    width: 116px;
  }

  &__logo {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    height: 100%;
    aspect-ratio: 1;
  }

  &__label {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    opacity: 0.4;
    white-space: nowrap;
  }

  &__value {
    font-size: 20px;
    color: #00EAFA;
    white-space: nowrap;
  }
}
